.popap__container {
  display: block;
  margin: 55px auto;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 25px;
}
.center {
  margin: 0 auto;
  text-align: center;
}
