  .popap__click {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 100%;
    left: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    background-image: url(../../../assets/nasawds-3.0.177/img/+.svg);
    width: 32px;
    height: 32px;
  }